<% layout('layout') -%>

 <style>
   .DragContent{
        border:2px dotted gray;
        width:98%;
        height:90%;
        color:#92AAB0;
        text-align:center;
        font-size:24px;
        padding-top:12px;
        margin-top:10px;
        overflow: hidden;
    }
 </style>

<script type="text/javascript">

    var data = new FormData();

    var folderList;
    var fileList;
    
    var curIndex=0;
    $(function(){

      $("#tab1").show();
      $("#tab2").hide();

      var obj = $(".DragContent");

      obj.on('dragenter', function (e) {
          e.stopPropagation();
          e.preventDefault();
          $(this).css('border', '2px solid #5272A0');
      });

      obj.on('dragleave', function (e) {
          e.stopPropagation();
          e.preventDefault();
          $(this).css('border', '2px dotted #8296C2');
      });

      obj.on('dragover', function (e) {
          e.stopPropagation();
          e.preventDefault();
      });
      obj.on('drop', function (e) {
          e.preventDefault();
          $(this).css('border', '2px dotted #8296C2');

          var files = e.originalEvent.dataTransfer.files;
          if(files.length < 1)
                return;
          F_FileMultiUpload(files, obj);
      });


    });

    // 파일 멀티 업로드
    Str ="";
    function F_FileMultiUpload(files, obj) {
        if(confirm(files.length + "개의 파일을 업로드 하시겠습니까? - 기존의 파일은 초기화 됩니다.") ) {
            
            for (var i = 0; i < files.length; i++) {
                data.append('file', files[i]);
                Str=Str+""+files[i].name;
            };
            $(".DragContent").text( files.length + " 건이 업로드 되었습니다." );
        };
    };
    //분류 시작하기
    function goAct(){
        setThumbnail()
        var fList = gfnCheckNull( $("#folderList").val() ).split('\n');
        //공백제거
        fList = fList.map(function(data){
             return data.trim();
        });
        //빈칸제거
        fList = fList.filter(function(data){
            if( gfnCheckNull(data) != ""){
                return gfnCheckNull(data);
            };
        });
        //중복제거
        const set = new Set(fList);
        const uniqueArr = [...set];
        
        console.log( data.getAll('file') ) 
        console.log( document.getElementById("uploadFile").value )
        

        dataList = data.get('file');
        if( dataList == null ){
            alert("파일을 업로드 해주세요.")
            return false;
        };

        if( uniqueArr.length == 0 ){
            alert("폴더명을 지정해주세요.");
            return false;
        };

        folderList = uniqueArr ;
        fileList = data.getAll('file') || document.getElementById("uploadFile");
        console.log( data.getAll('file') ) 
        console.log( document.getElementById("uploadFile") )
        console.log( fileList )
        

        $("#tab1").hide();
        $("#tab2").show();

        setCheckBox();
        setThumbnail()
    };

    //다음 사진으로
    function goNxt(){
        //값 셋팅
        getSetting();

        if( curIndex >= fileList.length){
            goSave();
        }else{
            setCheckBox();
            setThumbnail()
        };
    };
    // 체크된 폴더명 저장하기
    function getSetting(){
        chk = [];
        var chkF = $(".fBox:checked");
        for( var i=0 ;  i<$(".fBox:checked").length ; i++){
            chk.push( $(".fBox:checked").eq(i).val() );
        };
        data.append("folders" , chk );
    };
    // 이미지 미리보기
    function setThumbnail() {
        index = curIndex;
        var reader = new FileReader();
        reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class","W95p H95p"); 
            document.querySelector("#image_container").appendChild(img); 
            }; 
        $("#image_container").html("");
        
        $("#tab2").show()
        reader.readAsDataURL( document.getElementById("uploadFile").files[0] ); 
        // reader.readAsDataURL(fileList[index] ); 
        curIndex++;
    };

    //체크박스 셋팅
    function setCheckBox(){
        var str = '';
        for( var i=0 ; i<folderList.length ; i++ ){
            str+='<label class="flabel"><input type="checkbox" class="fBox" name="fBox" value="'+folderList[i]+'" >'+folderList[i]+'</label> <br/>';
        };
        $("#CheckBoxList").html(str);
    };

    //파일 셋팅하기
    function goSave(){
        var frm = document.uploadForm;
        frm.submit();
        /*
        $.ajax({
            url: '/uploadFile',
            method: 'post',
            data:data,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function(res) {
                if(res.result == true){
                    alert("등록되었습니다.");
                    location.reload();
                };
            }
        });
        */
    };
    
</script>


<div id="tab1" class="row">

    <form name="uploadForm" id="uploadForm" action="/uploadFile" enctype="multipart/form-data" method="post">
    <table id="inputTable" class="table" >
        <colgroup>
        <col style="width: 20%;">
        <col/>
        </colgroup>
        <tbody>
        <tr>
            <th>파일첨부</th>
            <td>
                <div class="DragContent W100p">Drap and Drop here.</div>
                <input type="file" name="uploadFile" id="uploadFile" multiple="multiple">
            </td>
        </tr>
        <tr>
            <th>폴더 리스트 <br/>% 구분자 = 엔터 </th>
            <td>
                <textarea id="folderList" name="folderList" class="W100p form-control" rows="20" cols="35" maxlength="6000"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
    <div class="fr MgB10">
        <button type="button" class="btn btn-primary" onclick="goAct();return false;">분류 시작하기</button>
    </div>

</div>

<div id="tab2" class="row">

    <table id="showTable" class="table W100p H95p" >
        <colgroup>
        <col style="width: 80%;">
        <col/>
        </colgroup>
        <tbody>
        <tr>
            <th id="image_container"></th>
            <td id="CheckBoxList" style="text-align: center;"></td>
        </tr>
        </tbody>
    </table>
    
    <div class="fr MgB10">
        <button type="button" class="btn btn-primary" onclick="goNxt();return false;">저장</button>
    </div>

</div>


<style>
    .flabel{
        font-size: 2em;
    }
</style>