<% layout('layout') -%>

<script type="text/javascript">

    
</script>

<form name="uploadForm" id="uploadForm" action="/uploadFile" enctype="multipart/form-data" method="post">
<div id="tab1" class="row">

    <h2>바탕화면의 오늘 날짜 폴더를 확인해주세요.</h2>
    <img src="/public/images/logo.PNG" class="MgT20 W20p H20p"><br/>
    
    <a href="/" class="btn btn-primary MgT20"  >처음으로</a>
</div>
</form>

<style>
    img{
        border-radius: 30px;
    }
</style>